.menu {
  width: 1200px;
  margin: 0 auto;
  padding-top: 160px;
}

.pizzas {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #662B00;
  margin: 0 0 20px;
}

.copyright {
  text-align: right;
  margin-top: 20px;
}
